/* Icon Bar */
.cannedanalysis-bar {
  display: flex;
  align-items: top;
  width: 100%;
}

/*/// Table ///*/
/* General */
.cannedanalysis-table {
  vertical-align: baseline;
  border-collapse: separate;
  empty-cells: hide;
  float:left;
}

.cannedanalysis-browse {
  display:none;
}

/* First Column - Icon */
td .datasets2tools-icon {
  vertical-align: baseline;
}

.datasets2tools-icon {
  background-color: #f2f2f2;
  font-size: small;
  font-family: "Arial", Arial, Sans-serif;
}

.datasets2tools-icon img {
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}

/* Second column - Browse - Go Back */
.datasets2tools-goback {
  display: none;
  background-color: #f2f2f2;
}

.datasets2tools-goback-div {
  margin: -5px;
  transform: rotate(90deg);
  min-width: 15px;
}

/* Third Column - Display - Tool Icons */
.tool-icon {
  margin: 5px;
  border: 1px solid #f2f2f2;
  height: 25px;
}

.tool-icon:hover {
  border: 1px solid black;
}

/* Fourth Column - Browse - Selected Tool Icon */
.datasets2tools-selected-tool-col {
  /*vertical-align: middle;*/
  font-weight: bold;
  font-size: small;
  padding-right: 7px;
  padding-left: 5px;
}

.datasets2tools-selected-tool-col img {
  vertical-align: middle;
}

/*/// Canned Analyses Div ///*/

/* Fifth Column - Browse - Canned Analyses */
.cannedanalysis-browse-div {
  width: auto;
  float: right;
  text-align: left;
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid #f2f2f2;
  margin-top: 17px;
}

.cannedanalysis-results {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
}


