.tool-icon-img {
    max-height: 35px;
    padding: 1px;
    border: 1px solid lightgrey;
    margin-right: 7px;
    cursor: pointer;
}

.tool-icon-tooltip {
    visibility: hidden;
    position: absolute;
    background-color: black;
    color: white;
    z-index: 1;
    padding: 5px 10px;
    font-size: smaller;
    border-radius: 5px;
    width: 250px;
    margin-left: -100px;
    margin-top: 5px;
}

.tool-icon-tooltip::after {
    content: "";
    position: absolute;
    margin-top: -78px;
    margin-left: 102px;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent black transparent;
}

.tool-icon-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.tool-icon-wrapper:hover .tool-icon-tooltip {
    /*visibility: visible;*/
}

.d2t-toolbar {
    display: table;
    border: 1px solid lightgrey;
    padding: 5px 0px 5px 7px;
}
