/**********************************************************************/
/**********************************************************************/
/********** 1. Button Styling *****************************************/
/**********************************************************************/
/**********************************************************************/

/************************************************************/
/***** 1.1 General Button Styling ***************************/
/************************************************************/

/****************************************/
/***** 1.1.1 Icon Buttons ***************/
/****************************************/

.datasets2tools-button {
  outline: none;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

/****************************************/
/***** 1.1.2 Arrow Button ***************/
/****************************************/

.datasets2tools-button.datasets2tools-browse-table-arrow {
  border: 1px solid grey;
  background-color: #e2e2e2;
}

/************************************************************/
/***** 1.2 Compact Mode Buttons *****************************/
/************************************************************/

/****************************************/
/***** 1.2.1 Main Logo ******************/
/****************************************/

.datasets2tools-logo-button {
  background: url(https://cdn0.iconfinder.com/data/icons/jfk/512/chrome-512.png);
  background-size: 100%;
  height: 35px;
  width: 35px;
  margin: 7px auto;
}

/****************************************/
/***** 1.2.1 Main Logo ******************/
/****************************************/

.datasets2tools-tool-icon-button {
  height: 35px;
  width: 35px;
  border: 1px solid grey;
}

/************************************************************/
/***** 1.2 Specific Button Styling **************************/
/************************************************************/

/****************************************/
/***** 1.2.1 Close Tool Info ************/
/****************************************/

.datasets2tools-close-tool-info-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: white;
  text-decoration:none;
  border: none;
  outline: none;
}




/************************************************************/
/***** .  ****************************************/
/************************************************************/

/****************************************/
/***** ..  *******/
/****************************************/

