/**********************************************************************/
/**********************************************************************/
/********** 1. Datasets2Tools Toolbar *********************************/
/**********************************************************************/
/**********************************************************************/

/************************************************************/
/***** 1.1 Modes ********************************************/
/************************************************************/

/****************************************/
/***** 1.1.1 Expand Mode ****************/
/****************************************/

.datasets2tools-expand {
  display: none;
}

/************************************************************/
/***** 1.2 Bars *********************************************/
/************************************************************/

/****************************************/
/***** 1.2.1 Search Bar *****************/
/****************************************/

.datasets2tools-search-bar {
  border: solid 1px black;
  display: inline-block;
  height: 50px;
  margin-top: 5px;
}

/************************************************************/
/***** 1.3 General Tab Formatting ***************************/
/************************************************************/

/****************************************/
/***** 1.3.1 Logo Tab *******************/
/****************************************/

.datasets2tools-logo-tab {
  display: inline-block;
  float: left;
  border-right: solid 1px black;
  padding: 0px 10px;
  height: 100%;
}

/****************************************/
/***** 1.3.2 Tool Icon Tab **************/
/****************************************/

.datasets2tools-tool-icon-tab {
  float: left;
}

/****************************************/
/***** 1.3.3 Selected Tool Tab **********/
/****************************************/

/*.datasets2tools-selected-tool-tab {
  float: left;
  border-right: solid 1px black;
  padding-left: 15px;
  padding-right: 0px;
  height: 49px;
  vertical-align: top;
}*/

/****************************************/
/***** 1.3.4 Search Tab ******************/
/****************************************/

/*.datasets2tools-search-tab {
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}*/

/****************************************/
/***** 1.3.5 Arrow Tab ******************/
/****************************************/

/*.datasets2tools-browse-table-arrow-tab {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  font-size: small;
}*/

/****************************************/
/***** 1.3.6 Tool Info Tab **************/
/****************************************/

/*.datasets2tools-tool-info-tab {
  width: 100%;
  border: 1px solid black;
  position: relative;
  top: -1px;
  padding: 5px 10px;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px 15px;
}*/

/************************************************************/
/***** 1.4 Search Tab Styling *******************************/
/************************************************************/

/****************************************/
/***** 1.4.1 Search Label ***************/
/****************************************/

.datasets2tools-search-label {
  float: left;
  padding-right: 15px;
}

/****************************************/
/***** 1.4.2 Search Input ***************/
/****************************************/

.datasets2tools-search-input {
  overflow: hidden;
  padding-top: 12px;
}

/****************************************/
/***** 1.4.3 Search Text Input **********/
/****************************************/

.datasets2tools-search-text-input {
  line-height: 10px;
  width: 100%;
  vertical-align: middle;
}

/************************************************************/
/***** 1.5 Labels *******************************************/
/************************************************************/

/****************************************/
/***** 1.5.1 Title Label ****************/
/****************************************/

.datasets2tools-title-label {
  text-align: right;
  font-size: small;
  margin-top: -33px;
  margin-left: 45px;
}

/****************************************/
/***** 1.5.2 Tool Info Label ************/
/****************************************/

.datasets2tools-tool-info-title {
  display: none;
  text-align: center;
  font-size: large;
}


/************************************************************/
/***** . ***********************************/
/************************************************************/

/****************************************/
/***** ..  *******/
/****************************************/